* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header__navbar {
    display: flex;
    justify-content: space-around;
}

.navbar__menu {
    display: flex;
    justify-content: space-around;
    width: 25%;
    list-style: none;
    align-items: center;
}

.navbar__menu-items {
    font-size: 20px;
    cursor: pointer;
}

.navbar__input {
    height: 30px;
    width: 200px;
    border-radius: 4px;
    padding: 0 16px;
    outline: none;
    border: 1px solid #ccc;
}


/*  */

.container__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.container__title-h1 {
    font-size: 60px;
    opacity: 0.9;
}

.container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content--center {
    display: flex;
}

.content--center__info {
    width: 555px;
    height: 305px;
}

.content--center__info-h2 {
    display: flex;
    flex-direction: column;
    margin: 32px 54px;
    justify-content: space-around;
}

.center__info-h2--title {
    opacity: 0.9;
    margin-bottom: 16px;
    font-size: 34px;
}

.center__info-h2--p {
    font-size: 18px;
}

.center__info-h2--title-s {
    font-size: 18px;
    margin: 16px 0;
    opacity: 0.7;
}

.center__info-h2-btn {
    width: 35%;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(98, 167, 125);
    color: #fff;
}

.content--center__info-footer {
    width: 1115px;
    margin-bottom: 36px;
}


/*  */

.footer {
    width: 100%;
    height: 400px;
    background-color: rgb(42, 42, 49);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer__container {
    display: flex;
    /* padding: 0 30px; */
    width: 40%;
}

.footer__container-left {
    text-decoration: none;
    list-style: none;
    margin: 60px 90px 60px;
    /* width: 70%; */
}

.footer__container-left--list {
    margin: 20px 0;
    font-size: 16px;
    color: #fff;
}

.footer__container-left--lists {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.footer__containers {
    position: absolute;
    right: 200px;
}

.footer__input {
    width: 350px;
    height: 40px;
    border-radius: 10px;
    padding: 0 16px;
    font-size: 16px;
}

.footer__container-left--list-s {
    display: flex;
    list-style: none;
}

.list-s {
    margin: 0 12px;
}